<mat-toolbar color="primary">
    <a
      [routerLink]="'/'"
      mat-icon-button class="material-symbols-outlined"
      arial-label="Example icon-button with menu icon"
    >
      <mat-icon>pet_supplies</mat-icon>
    </a>
    <span>Pet Shop Plus</span>
    <span class="example-spacer"></span>
    <a
      
      [routerLink]="'/login'"
      mat-icon-button
      class = "example-icon favorite-icon mr140"
      aria-label = "Example icon-button with heart icon"
    >
      Iniciar sesión
    </a>
    <a
      
      [routerLink]="'/signup'"
      mat-icon-button
      class="example-icon favorite-icon mr90"
      aria-label="Example icon-button with heart icon"
    >
      Registrarse
    </a>
    
  </mat-toolbar>
