.cabeceraweb {
    height: 500px;
}

.grupo {
    display: flex;
    background-color: #268599;
    height: 160px;
    justify-content: flex-end;
    min-width: 1440px;
    font-family: verdana;
}

.logo-PetShopPlus {
    height: 130px;
    width: 158px;
    position: absolute;
    top: 34px;
    left: 50px;
    object-fit: cover;  
}



.quienes-somos {
    -webkit-text-stroke: 1px;
    letter-spacing: 0;
    line-height: normal;
    min-height: 28px;
    width: 176px;
}

.ofertas {
    -webkit-text-stroke: 1px;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 135px;
    min-height: 28px;
    width: 111px;
}

.productos-perros {
    -webkit-text-stroke: 1px;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 125px;
    min-height: 28px;
}

.productos-gatos {
    width: 208px;
}

.pet-shop-plus {
    font-size: 50px;
    color: #FFC28C;
    position: absolute;
    top: 55px;
    left: 300px;
    font-weight: bold;
}

.user {
    height: 57px;
    position: absolute;
    left: 1400px;
    top: 30px;
    object-fit: cover;
    width: 53px;
}

.iniciar-sesion {
    color: #f5ede6;
    line-height: normal;
    position: absolute;
    left: 1480px;
    top: 35px;
    width: 105px;
}

.cart {
    height: 57px;
    position: absolute;
    left: 1600px;
    top: 30px;
    object-fit: cover;
    width: 66px;
}

.carrito {
    color: #f5ede6;
    line-height: normal;
    position: absolute;
    left: 1680px;
    top: 38px;
    width: 105px;
}

/*barra navegacion*/

.navbar {
    
    background-color: #e5a166;
    border-radius: 10px 0px 0px 0px;
    /*display: flex;*/
    height: 50px;
    position:absolute;
    /*justify-content: flex-end;*/
    width: 1100px;
    top: 118px;
    /*padding: 10px 65px;*/
    /*align-items: stretch;*/
}

#lista-barra {
    position: absolute;
    left: 125px;
  }
  
.barra {
    font-size: 18px;
    color: #000000;
    display:inline;
    padding-right: 4em;
  }

/*ofertas*/

.banner-ofertas {
    display: flex;
    background-color: #996436;
    border-radius: 5px;
    height: 120px;
    justify-content: flex-end;
    font-family: verdana;
    margin-top: 15px;
}

.percent {
    font-weight: 600;
    font-size: 70px;
    color: #FFC28C;
    line-height: normal;
    min-height: 120px;
    position: absolute;
    top: 150px;
    left: 50px;
    font-weight: bold;
}

.descuento {
    font-size: 36px;
    font-weight: 600;
    height: 84px;
    color: #FFC28C;
    top: 200px;
    left: 270px;
    position: absolute;
    width: 195px;
}

.En-marcas-seleccionadas {
    font-weight: 600;
    color: #FFC28C;
    line-height: normal;
    position: absolute;
    top: 250px;
    left: 273px;
}

.terminos {
    font-weight: 600;
    font-size: 12px;
    color: #FFC28C;
    line-height: normal;
    position: absolute;
    top: 280px;
    left: 1600px;
}

.food {
    height: 90px;
    position: absolute;
    left: 580px;
    top: 200px;
    object-fit: cover;
    width: 75px;
}

.brush {
    height: 90px;
    position: absolute;
    left: 750px;
    top: 200px;
    object-fit: cover;
    width: 90px;
}

/*contenido*/

#contenido{
    height:500px;
    width: 100%;
    margin:0px;
    display:table;
    border-spacing: 15px;
    /*margin-top: 15px;*/
}

.pagina-perros {
    display: flex;
    background-color: #67CFE6;
    border-radius: 5px;
    height:100%;
    width:50%;
    display:table-cell;
    font-family: verdana;
}

#product-perros {
    font-size: 35px;
    font-weight: 600;
    height: 70px;
    top: 320px;
    left: 80px;
    position: absolute;
}

#dog {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 450px;
    left: 80px;
    object-fit: cover; 
}

#lista-perros {
    font-size: 25px;
    height: 70px;
    top: 500px;
    left: 600px;
    position: absolute;
}


.pagina-gatos {
    display: flex;
    background-color: #FFC28C;
    border-radius: 5px;
    height:100%;
    display:table-cell;
    font-family: verdana;
}

#product-gatos {
    font-size: 35px;
    font-weight: 600;
    height: 70px;
    top: 320px;
    left: 1000px;
    position: absolute;
}

#cat {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 450px;
    left: 1050px;
    object-fit: cover; 
}

#lista-gatos {
    font-size: 25px;
    height: 70px;
    top: 500px;
    left: 1525px;
    position: absolute;
}

/*pie*/

.pie {
    display: flex;
    background-color: #268599;
    border-radius: 5px;
    height: 70px;
    justify-content: flex-end;
    font-family: verdana;
    margin-top: 15px;
}

#lista-pie {
    /*display:inline;*/
    position: absolute;
    top: 820px;
    left: 125px;
  }
  
.foot {
    font-size: 20px;
    color: #f5ede6;
    display:inline;
    padding-right: 10em;
  }
